{% load static i18n compress %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}portfolio{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My Pycharm Portfolio">
  <meta name="author" content="Reza Shakeri">
  {% include 'shared/references/header.html' %}
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  {% endblock %}
  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  {% endblock javascript %}
</head>
<body>

{% include 'shared/header.html' %}
<main class="main">
  <div id="wrapper">
    <div id="container">
      {% if messages %}
        {% for message in messages %}

        {% endfor %}
      {% endif %}
      {% include 'shared/sidebar.html' %}
      <div id="resizer"></div>
      <div id="main">
        {% include 'shared/social_media.html' %}
        <div id="main-content" style="overflow: hidden;">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      {% include 'shared/footer.html' %}
    </div>
  </div>
</main>
{% include 'shared/references/footer.html' %}

{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
{% endblock inline_javascript %}
{% block modal %}{% endblock modal %}
</body>
</html>
