{% extends "base.html" %}
{% load static i18n %}
{% block extra_javascript %}
  <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
{% endblock %}
{% block title %}Reza Shakeri | {% translate "contact us" %}{% endblock %}
{% block social_media %}{% endblock %}
{% block content %}
  <div class="contact-us">
    <form class="contact-us-form" action="">
      <div class="contact-us-form-field first-name-form">
        <label for="first_name">{% translate "first name" %}</label>
        <input id="first_name" placeholder="First name" type="text">
      </div>

      <div class="contact-us-form-field last-name-form">
        <label for="last_name">{% translate "last name" %}</label>
        <input id="last_name" placeholder="Last name" type="text">
      </div>

      <div class="contact-us-form-field email-form">
        <label for="email">{% translate "email" %}</label>
        <input id="email" placeholder="Email" type="email">
      </div>

      <div class="contact-us-form-field message-form">
        <label for="contact-us-message">{% translate "message" %}</label>
        <textarea id="contact-us-message" placeholder="Your Message" rows="3"></textarea>
      </div>

      <input class="contact-us-button mail-btn" value="Send" type="button">
    </form>
  </div>
{% endblock content %}
