{% load static %}
<div class="social-media">
  <div class="social-media-item">
    <img width="12" src="{% static 'images/icons/instagram.svg' %}" alt="">
  </div>
  <div class="social-media-item">
    <img width="12" src="{% static 'images/icons/twitter.svg' %}" alt="">
  </div>
  <div class="social-media-item">
    <img width="12" src="{% static 'images/icons/linkedin.svg' %}" alt="">
  </div>
  <div class="social-media-item">
    <img width="12" src="{% static 'images/icons/github.svg' %}" alt="">
  </div>
</div>
